body {
    background-image: url('BankApplicatie.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f0f0f0; 
}

a {
    color: rgb(0, 0, 0);    
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}

.login_container {
    position: relative;
    backdrop-filter: blur(25px);
    width: 350px;
    border: 2px solid rgb(255, 255, 255);
    padding: 5.5em 1.5em 7em 1.5em;
    border-radius: 45px;
    box-shadow: 5px 2px rgb(4, 5, 5);
    color: rgb(1, 1, 1);
}

.login_title {
    position: absolute;
    left: 50%;
    top: 0;
    display: flex;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    width: 140px;
    background-color: transparent;
    border-radius: 30px 25px;
    height: 70px;
}

.login_title span {
    color: rgb(4, 4, 3);
    font-size: 195%;    
    
}

.input_wrapper {
    position: relative;
    flex-direction: column;
    display: flex;
    margin: 20px;
}

.input-field {
    width: 100%;
    font-size: 16px;
    height: 55px;
    color: rgb(0, 0, 0);
    background: transparent;
    padding: 0 20px;
    border-radius: 30px;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    box-sizing: border-box;
}

#user { 
    margin-bottom: 10px;
}

.label {
    position: absolute;
    transition: 0.2s;
    top: 15px;
    left: 20px;
}

.input-field:focus ~ .label,
.input-field:valid .label {
    position: absolute;
    font-size: 14px;
    top: -10px;
    left: 20px;
    background-color: rgb(248, 248, 248);
    border-radius: 30px;
    padding: 0 10px;
    z-index: 10;
}

.remember-forgot { 
    justify-content: space-between;
    display: flex;
    font-size: 15px;
}

.input-submit {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

.input-submit:hover {
    background: rgb(255, 254, 254);
    transform: scale(1.05);
}

.signup {
    text-align: left;
}

.signup a {
    font-weight: 500;
}
.remember-me {
    display: flex;
    align-items: center;
}

.styled-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid black;
    background-color: transparent;
    appearance: none;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, border 0.3s ease-in-out;

}

.styled-checkbox:checked {
    background-color: #0056b3;
    border-color: rgb(0, 0, 0);
}

.styled-checkbox:checked::after {
    content: '\2713'; 
    font-size: 14px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.remember-me label {
    font-size: 14px;
    color: #000000;
    cursor: pointer; 
    margin-left: 5px;
}

.styled-checkbox:hover {
    border-color: #0056b3; 
    background-color: #0056b3;
}

.styled-checkbox:checked:hover {
    background-color: #003f6a; 
    border-color: #003f6a;
}

@media only screen and (max-width: 564px) {
    .container {
        padding: 20px;
    }

    .login_container {
        width: 90%;
        padding: 4em 1.5em 5em 1.5em;
    }

    .input-field {
        font-size: 14px;
    }

    .input_submit {
        height: 45px;
    }
}